.home,
.addTodoPage {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

input,
textarea {
  font-family: sans-serif;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}
nav {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
}
.tabList {
  display: flex;
  justify-content: space-evenly;
}
.links {
  align-self: center;
  margin: 1rem;
}
.newTodo {
  width: 30%;
  height: 60%;
  padding: 4rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
}
.autofillBtn {
  border: #ccc 1px solid;
  border-radius: 6px;
  padding: 4px;
}

.addTodoBtn {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-top: 1rem;
}
.singleTodo {
  width: 50%;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border-left: #ccc 1px solid;
}

button {
  border: #ccc 1px solid;
  border-radius: 6px;
  padding: 4px;
  margin-right: 6px;
}
button:visited {
  text-decoration: none;
}
